.tasks-card {
    color: black;
    text-decoration: none;
    padding: 20px;
    margin: 20px;
    height: max-content;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    display: inline-block;
}

.tasks-card-title {
    color: var(--primary-text);
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.tasks-card-details {
    color: var(--primary-text);
    font-size: 1.1rem;
    font-family:'Times New Roman', Times, serif;
}

.tasks-card-title.completed {
    text-decoration: line-through;
    color: var(--secondary-text);
}
